$primary-normal: #06121E;
$primary-dark: #040f1a;
$primay-light: #0c2135;

$secundary-normal :#090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$red-normal: #D94140;
$red-dark: #b42b2b;
$red-light: #d34040;
